.event-info{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.event-info__event-name-block {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.event-info__event-type {
  font-size: 1.4rem;
  font-weight: 400;
  color: #30bfb3;
  margin-bottom: 20px;
}

.event-info__event-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.event-info__event-location {
  font-size: 1.4rem;
  font-weight: 400;
  color: #999999;
  margin-left: 24px;
  margin-right: 24px;
}

.event-info__event-location-ico {
  height: 28px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

.event-info__event-dates {
  margin-bottom: 30px;
}

.event-info__event-img {
  width: 100%;
}
